// animation
// fade-in
.fade-in-enter-active,
.fade-in-leave-active {
    transition: opacity .3s ease;
}
.fade-in-enter-from,
.fade-in-leave-to {
    opacity: 0;
}


// move-in-bottom
.move-in-bottom-enter-active{
    animation: move-in-bottom .3s ease-in-out 
  }
  .move-in-bottom-leave-active {
    animation: move-in-bottom .3s ease-in-out reverse
  }
  @keyframes move-in-bottom {
    from{
      transform: translateY(10vh);
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  // move-in-top
  .move-in-top-enter-active{
    animation: move-in-top .3s ease-in-out 
  }
  .move-in-top-leave-active {
    animation: move-in-top .3s ease-in-out reverse
  }
  @keyframes move-in-top {
    from{
      transform: translateY(-10vh);
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  // body {
  // 	background: linear-gradient(-45deg, black, $purple, $greyColor);
  // 	background-size: 400% 400%;
  // 	animation: gradient 15s ease infinite;
  // 	height: 100vh;
  // }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }