$bg: #E6EEFA;
$radius: 20px;
$gold: rgb(200, 156, 24);
$silver: #D3D3D3;
$bronze: rgb(189, 131, 74);

$secondary : rgba(0, 0, 0, 0.651);
// $fontColor: white;
$fontColor: $secondary;

$navActive: rgb(31, 10, 48);


$greyColor : #1f1b1b2c;
$grey : rgba( $greyColor, 1);

$fontColorInvert: white;
$success: #2d6a4f;
$error: red;
$main-radius: 8px;
$dark: #484256;
$purple: #8280EB;
$blue: #5790DF;
$black: black;
$orange: #f4a261;





// move-in-bottom
.move-in-bottom-enter-active{
  animation: move-in-bottom .3s ease-in-out 
}
.move-in-bottom-leave-active {
  animation: move-in-bottom .3s ease-in-out reverse
}
@keyframes move-in-bottom {
  from{
    transform: translateY(10vh);
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

// body {
// 	background: linear-gradient(-45deg, black, $purple, $greyColor);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// 	height: 100vh;
// }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}